<div id="<%= dom_id user_process %>">
  <p>
    <strong>Name:</strong>
    <%= user_process.name %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= user_process.weight %>
  </p>

  <p>
    <strong>Evaluation:</strong>
    <%= user_process.evaluation %>
  </p>

  <p>
    <strong>Company area:</strong>
    <%= user_process.company_area_id %>
  </p>


  <p>
    <strong>Product of Weight and Evaluation:</strong>
    <%= user_process.product %>
  </p>


</div>
